body {
	font-family: Tahoma;
	font-size: 12px;
	width: 1000px;
	margin: 0px auto;
	border: 1px solid #000;
}

#menu_top {
	background: #141414;
	height: 40px;
}

#menu_top ul {
	margin: 0px;
	padding: 0px;
}

#menu_top ul li {
	list-style: none;
	float: left;
}

#menu_top ul li a {
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	padding: 0px 30px 0px 30px;
	border-right: 1px solid #f1f1f1;
}
#menu_top ul li a:hover{
	text-decoration:underline;
	color: orange;
}

#menu_top ul li a.active {
	background: #1949b5;
}

#banner {
	height: 280px;
	width: 1000px;
}

#banner img {
	width: 1000px;
	height: 280px;
}

#main #left {
	width: 700px;
	float: left;
	min-height: 400px;
}

#main #left ul {
	margin: 0px;
	padding: 0px;
}

#main #left ul li {
	list-style: none;
	clear: left;
	border-bottom: 2px solid #ccc;
	float: left;
	margin-bottom: 10px;
}

#main #left ul li h2 {
	font-size: 16px;
	margin-top: 0px;
}

#main #left ul li img {
	width: 200px;
	height: auto;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#main #left ul li #product-actions button.btnViewMore {
	background: #eb040d;
	border: 1px solid #eb040d;
	color: #FFF;
	padding: 0px 15px;
}

#main #left #product-actions button {
	display: inline-block;
	position: relative;
	outline: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

#main #right {
	width: 300px;
	float: left;
	min-height: 400px;
}

#main #right .menu_right ul {
	margin: -17px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #ccc;
}

#main #right .menu_right ul li {
	list-style: none;
}

#main #right .menu_right ul li a {
	display: block;
	text-decoration: none;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	background: url(../images/iconcheck.png) no-repeat 4px;
	text-indent: 30px;
	color: #878787;
	font-size: 14px;
}
#main #right .menu_right ul li a:hover {
	color: orange;
}

#main #right .menu_right h3 {
	background: #194d58 url(../images/iconmenu.png) no-repeat 4px;
	height: 40px;
	margin-top: 0px;
	text-indent: 30px;
	font-size: 18px;
	line-height: 40px;
	color: #FFF;
}

#footer {
	background: #000;
	width: 1000px;
	text-align: center;
	height: 60px;
	color: #FFF;
	clear: left;
	line-height: 60px;
}

